<div>
    <div class="inputOption">
        <label>Título <img class="label-icon" src="/images/3D-icons/medalla-icono-4.PNG" alt="Icon"></label>
        <input type="text" id="title" name="title" placeholder="Título" value="<%= team.title %>">
    </div>
    <div class="inputOption">
        <label>Descripción <img class="label-icon" src="/images/3D-icons/descripcion-icon-1.PNG" alt="Icon"></label>
        <textarea id="body" name="body" placeholder="Mensaje"><%= team.body %></textarea>
    </div>
    <div class="inputOption">
        <label>Foto <img class="label-icon" src="/images/3D-icons/camara-icon-1.PNG" alt="Icon"></label>
        <input type="file" id="image" name="image">
    </div>
    
    
    
</div>