<section>
    <div class="inputOption">
        <input type="text" id="title" name="title" placeholder="Título">
    </div>
    <div class="inputOption">
        <textarea id="body" name="body" placeholder="Mensaje"></textarea>
    </div>
    <div class="inputOption">
        <input type="file" id="image" name="image">
    </div>
    <div class="inputOption">
        <label for="adminUser">Seleccionar nuevo admin:</label>
        <select id="adminUser" name="adminUser">
            <% for (var i in users) { %>
                <% var user = users[i]; %>
                <option value="<%= user.id %>"><%= user.username %></option>
              <% } %>
        </select>
    </div>
    <input type="submit" name="enviar" id="enviar" value="Save">    
    <a href="/teams">Volver</a>
</section>