<div>

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <nav>
        <div class="container">
            <ol class="breadcrumb-card">
                <li><a href="/">Inicio</a> / <a href="/teams">Equipos</a> / Crear equipo</li>
            </ol>
        </div>
        </nav>
    </div>
    <!-- End Breadcrumbs -->

    <div class="section-header">
      <h2>Crear Equipo</h2>
    </div>

    <div class="newteam-card">
    <form method="post" action="/teams" enctype="multipart/form-data" >
        <h3>Rellena los siguientes datos para crear el nuevo equipo</h3>
        <div class="inputOption">
            <label>Título <img class="label-icon" src="/images/3D-icons/medalla-icono-4.PNG" alt="Icon"></label>
            <input type="text" id="title" name="title" placeholder="Título">
        </div>
        <div class="inputOption">
            <label>Descripción <img class="label-icon" src="/images/3D-icons/descripcion-icon-1.PNG" alt="Icon"></label>
            <textarea id="body" name="body" placeholder="Descripción"></textarea>
        </div>
        <div class="inputOption">
            <label>Foto <img class="label-icon" src="/images/3D-icons/camara-icon-1.PNG" alt="Icon"></label>
            <input type="file" id="image" name="image">
        </div>
        <!-- MIRAR SI LO DEL ADMIN TEAM SE IMPLEMENTA AL FINAL -->
        <!-- <div class="inputOption">
            <label for="adminUser">Seleccionar admin:</label>
            <select id="adminUser" name="adminUser">
                <% for (var i in users) { %>
                    <% var user = users[i]; %>
                    <option value="<%= user.id %>"><%= user.username %></option>
                  <% } %>
            </select>
        </div> -->
        <div class="buttonContainer">
            <a href="/teams">Cancelar</a>
            <input type="submit" name="enviar" id="enviar" value="Crear">    
        </div>

    </form>
</div>
</div>

  