
<section id="hero" class="d-flex align-items-center">

  <div class="container-fluid" data-aos="fade-up">
    <div class="row justify-content-center">
      <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1>Encuetra al intérprete perfecto con Gestor Intérpretes</h1>
        <h2><strong>We are team of talented designers making websites with Bootstrap</strong></h2>
        <div><a href="/login" class="btn-get-started scrollto">Iniciar Sesión</a></div>
      </div>
      <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="150">
        <img src="/images/background/hero-img.png" class="img-fluid animated" alt="">
      </div>
    </div> 
  </div>
</section>
<!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
    <nav>
    <div class="container">
        <ol class="breadcrumb-card">
        <li><a href="/">Menu</a> /</li>
        </ol>
    </div>
    </nav>
  </div>
  <!-- End Breadcrumbs -->


