
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <nav>
      <div class="container">
          <ol class="breadcrumb-card">
          <li><a href="/">Inicio</a> / Reputación</li>
          </ol>
      </div>
      </nav>
  </div>
  <!-- End Breadcrumbs -->
  <section>
  <h2>Reputación de Usuarios</h2>
  <ul>
      <% users.forEach(user => { %>
          <li>
              <%= user.username %>: <%= user.reputation %>
              <form method="post" action="/reputation/<%= user.id %>/addPoint">
                  <button type="submit">Sumar Punto</button>
              </form>
          </li>
      <% }); %>
  </ul>
</section>
  