
/* Fonts */
:root {
  --font-default: "Open Sans", sans-serif;
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Poppins", sans-serif;
}

/* Colors */
:root {
  --color-default: #4b4342;
  --color-primary: #f57307;
  --color-secondary: #f4e6df;
  --background: #f4e6df;
  --color-terciary: #ddcdc5;
  --color-cuartary: #f48c06;
  --color-quintary: #000000;
  --iniciar-sesion-text-dark: hsl(240, 54%, 15%);
  --iniciar-sesion-text-light: hsl(242, 18%, 64%);
  --iniciar-sesion-primary: hsl(222, 98%, 60%);
  --iniciar-sesion-primary-lighter: hsl(240, 33%, 86%);
  --iniciar-sesion-primary-gradient: linear-gradient(to right, #fa9d3a, #ffba19);
}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: var(--font-default);
  color: var(--color-default);
}
/* body {
  font-family: sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
  background: var(--background);
} */

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: #406aff;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
section {
  padding: 80px 0;
  overflow: hidden;
}

.section-header {
  text-align: center;
  padding: 30px 0;
  position: relative;
}

.section-header h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: var(--color-quintary);
  position: relative;
  z-index: 2;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-header h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--color-primary);
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.section-header span {
  position: absolute;
  top: 46px;
  color: rgba(14, 29, 52, 0.06);
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 56px;
  text-transform: uppercase;
  line-height: 0;
}

.section-header p {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}

@media (max-width: 640px) {
  .section-header h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }

  .section-header span {
    font-size: 38px;
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/

/* .breadcrumbs .page-header {
  padding: 140px 0 80px 0;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.breadcrumbs .page-header:before {
  content: "";
  background-color: rgba(14, 29, 52, 0.8);
  position: absolute;
  inset: 0;
}

.breadcrumbs .page-header h2 {
  font-size: 56px;
  font-weight: 500;
  color: #fff;
  font-family: var(--font-secondary);
}

.breadcrumbs .page-header p {
  color: rgba(255, 255, 255, 0.8);
}

.breadcrumbs nav {
  background-color: #f3f6fc;
  padding: 20px 0;
}

.breadcrumbs nav ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-secondary);
}

.breadcrumbs nav ol a {
  color: var(--color-primary);
  transition: 0.3s;
}

.breadcrumbs nav ol a:hover {
  text-decoration: underline;
}

.breadcrumbs nav ol li+li {
  padding-left: 10px;
}

.breadcrumbs nav ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #4278cc;
  content: "/";
} */

.breadcrumbs .container {
  max-width: 100%;
}

.breadcrumb-card {
  display: flex;
  justify-content: flex-start;
  padding: 10px 30px;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1), 0px 8px 11px rgba(0, 0, 0, 0.1); /* Adjust this line */
  border-radius: 50px;
  list-style: none;
  margin-top: 120px;
}

.breadcrumb-card li {
  margin: 0px;
}
/*--------------------------------------------------------------
# Scroll top button
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: var(--color-primary);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.scroll-top:hover {
  background: rgba(13, 66, 255, 0.8);
  color: #fff;
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  inset: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
  transition: all 0.6s ease-out;
  width: 100%;
  height: 100vh;
}

#preloader:before,
#preloader:after {
  content: "";
  position: absolute;
  border: 4px solid var(--color-primary);
  border-radius: 50%;
  animation: animate-preloader 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

#preloader:after {
  animation-delay: -0.5s;
}

@keyframes animate-preloader {
  0% {
    width: 10px;
    height: 10px;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    opacity: 1;
  }

  100% {
    width: 72px;
    height: 72px;
    top: calc(50% - 36px);
    left: calc(50% - 36px);
    opacity: 0;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
/* .header {
  transition: all 0.5s;
  z-index: 997;
  padding: 30px 0;
} */
.container-fluid.container-xl.d-flex.align-items-center.justify-content-start {
  justify-content: flex-start;
  max-width: 100%;
}

.header {
  transition: all 0.5s;
  z-index: 997;
  padding: 8px 0;
  margin: 10px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.nav-container {
  transition: padding 0.5s ease;
  border-radius: 50px; /* Agrega bordes redondos */
  box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Agrega sombra para dar efecto flotante */
  background: rgba(0 , 0 , 0, 0.9); /* Asegura que el fondo siempre esté presente */
  margin: 3px 0px 3px auto;
  padding: 8px;
}


/* .header.sticked {
  background: rgba(14, 29, 52, 0.9);
  padding: 15px 0;
  box-shadow: 0px 2px 20px rgba(14, 29, 52, 0.1);
} */

.header.sticked {
  padding: 5px 0;
  box-shadow: 0px 2px 20px rgba(14, 29, 52, 0.1);
}

.header.sticked .logo img {
  max-height: 30px; 
}

.header.sticked .logo h1 {
  font-size: 20px; 
}

.header.sticked .nav-container {
  padding: 5px; 
  margin: 3px 0px 3px auto;
  margin-right: 0px;
  
}

.header.header-inner {
  background: rgba(14, 29, 52, 0.9);
  height: 70px;
}

.header .logo {
  display: flex;
  align-items: center;
}

.header .logo img {
  transition: max-height 0.5s ease;
  max-height: 40px;
  margin-right: 6px;
}

.header .logo h1 {
  transition: font-size 0.5s ease;
  font-size: 30px;
  margin: 0;
  font-weight: 700;
  color: #000000;
  font-family: var(--font-primary);
  padding-left: 20px;
}

.navbar ul {
  display: flex;
  justify-content: space-between; /* Distribuye los elementos uniformemente */
}

.navbar ul li:last-child {
  display: flex;
  gap: 10px; /* Espacio entre los botones de "Registrarse" e "Iniciar sesión" */
}

.page-links {
  margin-right: 10px; /* Ajusta este valor a tus necesidades */
  margin-left: 10px; /* Ajusta este valor a tus necesidades */
}

/*--------------------------------------------------------------
# Desktop Navigation
--------------------------------------------------------------*/
@media (min-width: 1280px) {
  .navbar {
    padding: 0;
  }

  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navbar ul li:last-child {
    display: flex;
    gap: 5px; /* Reduce el espacio entre los botones de "Registrarse" e "Iniciar sesión" */
  }

  .navbar li {
    position: relative;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255);
    white-space: nowrap;
    transition: 0.3s;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  /* .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #fff;
  } */

  .navbar .logout,
  .navbar .logout:focus {
    background: #fff;
    padding: 8px 20px;
    border-radius: 50px;
    margin-left: 200px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: var(--color-cuartary);
  }

  .navbar .logout:hover,
  .navbar .logout:focus:hover {
    color: #fff;
    background: var(--color-cuartary);
  }

  .navbar .get-a-quote,
  .navbar .get-a-quote:focus {
    background: var(--color-primary);
    padding: 8px 20px;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 50px;
    color: #fff;
  }

  .navbar .get-a-quote:hover,
  .navbar .get-a-quote:focus:hover {
    color: var(--color-quintary);
    background: #fff;
  }

  
  .header.sticked .navbar .get-a-quote {
  transition: padding 0.7s ease, margin 0.5s ease;
  padding: 6px 15px 6px 15px; /* Ajusta estos valores a tus necesidades */
  margin-left: 15px; /* Ajusta este valor a tus necesidades */
  }

  .header.sticked .navbar .logout{
  transition: padding 0.7s ease, margin 0.5s ease;
  padding: 6px 15px 6px 15px; /* Ajusta estos valores a tus necesidades */
  margin-left: 200px;
  }

  .header.sticked .navbar .get-a-quote,
  .header.sticked .navbar .logout {
    transition: font-size 0.5s ease;
    font-size: 14px; /* Ajusta este valor a tus necesidades */
  }

  .header.sticked .navbar .logout:hover,
  .header.sticked .navbar .get-a-quote:hover {
  color: var(--color-quintary);
  background: #fff;
  }

  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
  }

  .navbar .dropdown ul li {
    min-width: 200px;
  }

  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 400;
    color: var(--color-secondary);
  }

  .navbar .dropdown ul a i {
    font-size: 12px;
  }

  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: var(--color-cuartary);
  }

  .navbar a:hover {
    color: var(--color-cuartary);
  }

  .navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }

  .navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
}

@media (min-width: 1280px) and (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

@media (min-width: 1280px) {

  .mobile-nav-show,
  .mobile-nav-hide {
    display: none;
  }
}

/* FOTO DE MENU */
#hero {
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, rgba(254 , 239 , 17, 0.95) 0%, rgba(245 , 115 , 7, 0.95) 100%), url("/images/background/background-12.png") center center no-repeat;
  background-size: cover;
}



#hero .container,
#hero .container-fluid {
  padding-top: 84px;
  margin-bottom: 0px;
}

#hero h1 {
  margin: 0;
  font-size: 52px;
  font-weight: 700;
  line-height: 64px;
  color: black;
}

#hero h2 {
  color: rgba(0, 0, 0, 0.8);
  margin: 10px 0 0 0;
  font-size: 20px;
}

#hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 30px;
  color: black;
  border: 2px solid black;
}

#hero .btn-get-started:hover {
  background: #fff;
  color: var(--color-primary);
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (min-width: 1200px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  #hero {
    text-align: center;
  }

  #hero .container,
  #hero .container-fluid {
    padding-top: 68px;
  }

  #hero .animated {
    animation: none;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 26px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }

  #hero .hero-img img {
    width: 60%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
}

@media (max-width: 575px),
(max-height: 600px) {
  #hero {
    height: auto;
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  font-size: 14px;
  background-color: var(--color-quintary);
  padding: 50px 0;
  color: white;
}

.footer .footer-info .logo {
  line-height: 0;
  margin-bottom: 25px;
}

.footer .footer-info .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.footer .footer-info .logo span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  font-family: var(--font-primary);
}

.footer .footer-info p {
  font-size: 14px;
  font-family: var(--font-primary);
}

.footer .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 10px;
  transition: 0.3s;
}

.footer .social-links a:hover {
  color: #fff;
  border-color: #fff;
}

.footer h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-links {
  margin-bottom: 30px;
}

.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-links ul i {
  padding-right: 2px;
  color: rgba(13, 66, 255, 0.8);
  font-size: 12px;
  line-height: 0;
}

.footer .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-links ul a {
  color: rgba(255, 255, 255, 0.6);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footer .footer-links ul a:hover {
  color: #fff;
}

.footer .footer-contact p {
  line-height: 26px;
}

.footer .copyright {
  text-align: center;
}

.footer .credits {
  padding-top: 4px;
  text-align: center;
  font-size: 13px;
}

.footer .credits a {
  color: #fff;
}


/* INICIAR SESION PANTALLA */

.card {
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  margin: 10px;
  padding: 30px;
  max-width: 100%;
  overflow: hidden;
}

.iniciar-sesion-contenedor {
  max-width: 100%;
  width: 100%;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Imagen de la izquierda */
.imagen-iniciar-sesion-section {
  width: 50%;
  position: relative;
}
.imagen-iniciar-sesion-wrapper {
  width: 100%;
  height: 100%;
}

.imagengradiente-iniciar-sesion {
  width: 100%; 
  height: 100%;
}

.contenido-contenedor-iniciar-sesion {
  background-color: hsla(0, 0%, 100%, 0.3);
  backdrop-filter: blur(30px);
  padding: 2rem;
  width: 80%;
  color: var(--iniciar-sesion-text-dark);
  border-radius: 4px;
  border: 1px solid hsl(0 100% 100% / 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contenido-contenedor-iniciar-sesion h1 {
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.contenido-contenedor-iniciar-sesion span {
  background: var(--iniciar-sesion-primary-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 60rem) {
  .iniciar-sesion-contenedor {
    width: 100%;
    margin: 0;
  }
  .contenido-contenedor-iniciar-sesion {
    width: 100%;
  }
}

/* Formulario */
.formulario-is-section {
  width: 50%;
  background-color: white;
  padding: 2.5rem 1rem;
  display: flex;
  margin-right: 0;
}

.formulario-is-wrapper {
  width: 65%;
  margin: auto;
}

.logo-iniciar-sesion-contenedor {
  width: 3rem;
  height: 3rem;
  margin-bottom: 1.5rem;
  display: flex;
}

.formulario-is-wrapper > h2 {
  margin-bottom: 0.1rem;
}
.formulario-is-wrapper > p {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--iniciar-sesion-text-light);
  margin-bottom: 2rem;
}

a[href="/registrarse"]:hover {
  color: black;
}

.input-iniciar-sesion-contenedor {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.formulario-grupo {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.formulario-grupo label {
  font-size: 0.9375rem;
  font-weight: 600;
  color: #16164d;
}
.formulario-grupo input {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--iniciar-sesion-text-dark);
  padding: 0.5rem;
  border: 2px solid var(--iniciar-sesion-primary-lighter);
  border-radius: 0.3rem;
}
.formulario-grupo input:focus {
  border: 2px solid #16164d;
}

.recordar-olvidar {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.recordar-me {
  display: grid;
  grid-template-columns: 1rem auto;
  gap: 0.6rem;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  display: grid;
  place-content: center;
}

.recordar-me input {
  width: 1rem;
  height: 1rem;
  margin-right: 0.3rem;
  border: 1px solid var(--iniciar-sesion-text-light);
  border-radius: 2px;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  background-color: white;
  transform: scale(0);
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}
.recordar-me input:checked {
  background: var(--iniciar-sesion-primary-gradient);
}

.recordar-me label {
  color: var(--iniciar-sesion-text-dark);
  user-select: none;
}
.recordar-olvidar a {
  color: var(--iniciar-sesion-primary);
}
.recordar-olvidar a:hover {
  text-decoration: underline;
  text-decoration-color: var(--iniciar-sesion-primary);
}

.iniciarsesion-button,
.google-iniciarsesion {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;

  font-weight: 500;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
}

.iniciarsesion-button {
  color: white;
  background: var(--iniciar-sesion-primary-gradient);
}
.iniciarsesion-button:hover {
  opacity: 0.9;
}

.or-divider {
  width: 100%;
  font-weight: 600;
  color: var(--iniciar-sesion-text-light);
  margin-block: 1.5rem;
  text-align: center;
  position: relative;
}
.or-divider::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 1px;
  width: 45%;
  background-color: var(--iniciar-sesion-text-light);
}
.or-divider::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  height: 1px;
  width: 45%;
  background-color: var(--iniciar-sesion-text-light);
}

.google-iniciarsesion {
  border: 2px solid var(--iniciar-sesion-primary-lighter);
}
.google-iniciarsesion object {
  width: 1.5rem;
  height: 1.5rem;
}

@media screen and (max-width: 50rem) {
  .iniciar-sesion-contenedor {
    max-width: 80%;
    flex-direction: column;
    margin-inline: 0;
  }

  .imagen-iniciar-sesion-section,
  .formulario-is-section {
    width: 100%;
  }

  .imagen-iniciar-sesion-section {
    height: 25vh;
  }
  .contenido-contenedor-iniciar-sesion {
    inset: 0;
    transform: translate(0, 0);
    padding: 1rem 1.6rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contenido-contenedor-iniciar-sesion h1 {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  .contenido-contenedor-iniciar-sesion p {
    font-size: 0.75rem;
  }

  .formulario-is-section {
    flex: 1;
    padding: 1rem 1rem;
  }
  .logo-iniciar-sesion-contenedor {
    margin-bottom: 1rem;
  }
  .formulario-is-wrapper > h2 {
    font-size: 1.25rem;
  }
  .formulario-is-wrapper > p {
    margin-bottom: 1rem;
  }
  .formulario-is-wrapper button {
    font-size: 0.875rem;
  }
  .or-divider {
    font-weight: 500;
    margin-block: 0.6rem;
  }
}

@media screen and (max-width: 36.25rem) {
  .iniciar-sesion-contenedor {
    max-width: 100%;
  }
  .formulario-is-wrapper {
    width: 100%;
  }
}

/* APARTADO PARA DONAR PUNTOS WALLET A OTROS USERS */
.donation-form {
  width: 300px;
  background-color: #f8f9fa;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.donation-form .form-group {
  margin-bottom: 10px;
}

.donation-form label {
  display: block;
  margin-bottom: 5px;
}

.donation-form select, 
.donation-form input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ced4da;
}

.donation-form .donate-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.donation-form .donate-button:hover {
  background-color: #0056b3;
}

/* APARTADO DE INFLACION */
.inflate-form {
  width: 300px;
  background-color: #f8f9fa;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.inflate-form .form-group {
  margin-bottom: 10px;
}

.inflate-form label {
  display: block;
  margin-bottom: 5px;
}

.inflate-form select, 
.inflate-form input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ced4da;
}

.inflate-form .inflate-button {
  background-color: #ff0000; 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.inflate-form .inflate-button:hover {
  background-color: #b30000;
}


/* APARTADO DE REGISTRO */
@keyframes zoomIn {
  0% {
      transform: scale(0);
      opacity: 0;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}

.registration-form {
  width: 100%;
  max-width: 400px;
  margin-top: 70px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding: 20px;
  animation: zoomIn 2s;
}


.registration-form h2 {
  color: #333;
  text-align: center;
  margin-bottom: 30px;
}

.registration-form form {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.registration-form ul {
  list-style: none;
  padding: 0;
}

.registration-form li {
  margin-bottom: 10px;
}

.registration-form label {
  display: block;
  margin-bottom: 5px;
}

.registration-form input[type="text"], 
.registration-form input[type="email"], 
.registration-form input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.registration-form input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.registration-form input[type="submit"]:hover {
  background-color: #0056b3;
}

.registration-form .text-danger {
  color: #dc3545;
  margin-bottom: 10px;
}

/* TABLA USUARIOS POR EQUIPO */

.table-widget {
  border-radius: 1rem;
  background: var(--table-background);
  padding: 1.5rem;
  border: 2px solid var(--gray-background);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
   rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  text-align: left;
  overflow-x: auto;
}

.table-widget table {
  max-width: fit-content;
  border-collapse: collapse;
}

.table-widget caption {
  font-size: 1.12rem;
  font-weight: 700;
  text-align: left;
  margin: 0.5rem 0px;
}

.table-widget th {
  padding: 1.25rem 1rem;
  font-size: 0.875rem;
  color: var(--gray);
}

.table-widget thead {
  border-top: 2px solid var(--gray-background);
}

.table-widget tfoot {
  margin-top: 1rem;
  border-top: 2px solid var(--gray-background);
}

.table-widget td {
  padding: 0.5rem 1rem;
  vertical-align: middle;
}

.table-widget tbody tr {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.table-widget tbody tr:nth-child(odd) {
  background: var(--odd-row);
}

.table-widget tbody tr:hover {
  background: #e2ecff;
}

.table-row-count {
  font-size: 0.8rem;
  font-weight: 700;
  background: var(--gray-mid);
  padding: 0.5rem;
  display: inline-flex;
  align-items: center;
  margin-left: 1rem;
  border-radius: 0.5rem;
}

.team-member-profile {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.profile-info__name {
  font-weight: 700;
  white-space: nowrap;
}

.team-member-profile img {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  object-fit: cover;
}

.status {
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-weight: 700;
}

.status--active {
  background: #EAFEF3;
  color: #2ECC71;
}

.status--inactive {
  background: #fff6e5;
  color: #F4BD50;
}

.status--offline {
  background: var(--gray-mid);
  color: var(--gray);
}

.tags {
  display: flex;
  gap: 0.5rem;
}

.tag {
  padding: 0.5rem;
  background: var(--gray-mid);
  border-radius: 0.5rem;
  font-weight: 700;
}

.tag::first-letter {
  text-transform: uppercase;
}

.tag--design {
  background: #f4efff;
  color: #9A84DA;
}

.tag--QA {
  color: #DF8FA8;
  background: #fbdde7;
}

.tag--dev {
  background: #eaf2ff;
  color: #739FDC;
}

.tag--marketing {
  background: #fff6e5;
  color: #F4BD50;
}

.table-widget {
  min-height: 5rem;
}

.pagination {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  padding: 0;
}

.pagination a {
  display: block;
  color: var(--primary);
  font-size: 1.3rem;
  text-decoration: none;
  font-weight: 700;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

.pagination a:hover, a.active{
  background: var(--odd-row);
  text-decoration: underline;
}



/*--------------------------------------------------------------
# Recent Blog Posts
--------------------------------------------------------------*/
.recent-blog-posts .post-box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding: 20px;
  background: white;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.recent-blog-posts .post-box:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.recent-blog-posts .post-box .container {
  padding: 2px 16px;
}

.recent-blog-posts .post-box .container .row .col-lg-4{
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 20px 20px 20px 20px;
}

.recent-blog-posts .row {
  margin-bottom: 30px;
}

.recent-blog-posts .section-header{
  margin-bottom: 5px;
  padding: 40px 10px 10px 10px;
}

.recent-blog-posts .post-box .post-img {
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.recent-blog-posts .post-box .post-img img {
  transition: 0.5s;
}

.recent-blog-posts .post-box .meta {
  margin-top: 15px;
}

.recent-blog-posts .post-box .meta .post-date {
  font-size: 15px;
  font-weight: 400;
  color: var(--color-primary);
}

.recent-blog-posts .post-box .meta .post-author {
  font-size: 15px;
  font-weight: 400;
  color: var(--color-quintary);
}

.recent-blog-posts .post-box .post-title {
  font-size: 24px;
  color: var(--color-quintary);
  font-weight: 700;
  margin: 15px 0 0 0;
  position: relative;
  transition: 0.3s;
}

.recent-blog-posts .post-box p {
  margin: 15px 0 0 0;
  color: rgba(var(--color-secondary-dark-rgb), 0.7);
}

.recent-blog-posts .post-box:hover .post-title {
  color: var(--color-primary);
}

.recent-blog-posts .post-box:hover .post-img img {
  transform: scale(1.1);
}

.recent-blog-posts .post-box .post-img img {
  transition: 0.5s;
  max-height: 450px; 
  object-fit: cover; 
}
.recent-blog-posts .post-box .btn {
  display: inline-block;
  font-weight: 400;
  color: white;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: var(--color-primary);
  border: 1px solid transparent;
  padding: 5px 10px;
  font-size: 18px;
  line-height: 1.5;
  border-radius: 4px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out, transform .15s ease-in-out;
  margin: 10px;
}

.recent-blog-posts .post-box .btn:hover {
  color: rgba(var(--color-secondary));
  background-color: rgba(var(--color-secondary-dark-rgb), 0.7);
  border-color: rgba(var(--color-secondary));
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3); /* Add shadow */
  transform: translateY(-7px); /* Move button up */
}

.recent-blog-posts .post-box .edit-delete-buttons {
  display: flex;
  justify-content: space-between;
}

.reward-container {
  display: flex;
  justify-content: flex-end;
}

.reward-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#claimRewardForm {
  float: right;
  margin-bottom: 10px;
}

#claimRewardButton {
  background-color: #fcb500; 
  color: black; 
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s;
  border-radius: 25px;
  box-shadow: 0 0 10px #DAA520;
  animation: pulse 2s infinite;
}

#claimRewardButton:hover {
  background-color: #FFD700; 
  box-shadow: 0 0 25px #ecc800; 
  transform: scale(1.05); 
}

#claimRewardButton:disabled {
  background-color: #ccc; 
  box-shadow: none;
  animation: none;
}

.timeUntilNextReward {
  color: #888; 
  font-size: 0.8em; 
  margin: 0; 
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


/*--------------------------------------------------------------
# Posts
--------------------------------------------------------------*/
.posts-section .post-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding: 20px;
  background: white;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.posts-section .post-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.posts-section .post-card .container {
  padding: 2px 16px;
}

.posts-section .post-card .container .row .col-lg-4{
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 20px 20px 20px 20px;
}

.posts-section .row {
  margin-bottom: 30px;
}

.posts-section .section-header{
  margin-bottom: 5px;
  padding: 40px 10px 10px 10px;
}

.posts-section .post-card .post-img {
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.posts-section .post-card .post-img img {
  transition: 0.5s;
}

.posts-section .post-card .meta {
  margin-top: 15px;
}

.posts-section .post-card .meta .post-date {
  font-size: 15px;
  font-weight: 400;
  color: var(--color-primary);
}

.posts-section .post-card .meta .post-author {
  font-size: 15px;
  font-weight: 400;
  color: var(--color-quintary);
}

.posts-section .post-card .post-title {
  font-size: 24px;
  color: var(--color-quintary);
  font-weight: 700;
  margin: 15px 0 0 0;
  position: relative;
  transition: 0.3s;
}

.posts-section .post-card p {
  margin: 15px 0 0 0;
  color: rgba(var(--color-secondary-dark-rgb), 0.7);
}

.posts-section .post-card:hover .post-title {
  color: var(--color-primary);
}

.posts-section .post-card:hover .post-img img {
  transform: scale(1.1);
}

.posts-section .post-card .post-img img {
  transition: 0.5s;
  max-height: 450px; 
  object-fit: cover; 
}

.posts-section .post-card .btn {
  display: inline-block;
  font-weight: 400;
  color: white;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: var(--color-primary);
  border: 1px solid transparent;
  padding: 5px 10px;
  font-size: 18px;
  line-height: 1.5;
  border-radius: 4px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out, transform .15s ease-in-out;
  margin: 10px;
}

.posts-section .post-card .btn:hover {
  color: rgba(var(--color-secondary));
  background-color: rgba(var(--color-secondary-dark-rgb), 0.7);
  border-color: rgba(var(--color-secondary));
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3); /* Add shadow */
  transform: translateY(-7px); /* Move button up */
}

.posts-section .post-card .edit-delete-buttons {
  display: flex;
  justify-content: space-between;
}

.actions-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 20px;
}

.actions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 20px;
}

.create-proposal {
  flex-grow: 1;
}

.filter-form {
  display: flex;
  align-items: center;
}

.filter-form form {
  display: flex;
  align-items: center;
}

.filter-form label {
  margin-right: 10px;
}

.filter-form select {
  margin-right: 10px;
  width: 200px;
}

.filter-form .btn {
  background-color: var(--color-primary);
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.filter-form .btn:hover {
  background-color: var(--color-secondary);
  color: white;
}

.animated-button-crearpost {
  animation: glow 2s ease-in-out infinite;
  color: black; 
  background-color: var(--color-primary); 
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 550;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px; 
  box-shadow: 0px 0px 10px 5px rgba(255,255,255,0.5); 
}

.animated-button-crearpost:hover {
  color: white; 
}


.deletedposts {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  margin-bottom: 20px;
}

.deletedposts-header {
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  padding: 15px;
  font-size: 1.25em;
}

.deletedposts-body {
  padding: 15px;
}

.deletedposts .table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}

.deletedposts .table th,
.deletedposts .table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.deletedposts .table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.deletedposts .table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.deletedposts .hidden {
  display: none;
}

#showMore {
  display: block;
  width: 200px;
  height: 40px;
  margin: 20px auto;
  background-color: var(--color-primary);
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

#showMore:hover {
  background-color: black;
  color: var(--color-primary);
  transform: translateY(-5px);
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
}


/*--------------------------------------------------------------
# PANTALLA SHOW DE UN TEAM
--------------------------------------------------------------*/


.team-section-show {
  padding: 1px;
}

.team-section-show  .card {
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  margin-bottom: 20px;
  padding: 20px;
}

.team-section-show  .btn {
  background-color: var(--color-primary);
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
}

.team-section-show  .btn:hover {
  color: var(--color-quintary);
}

.team-section-show .card .team-info {
  display: flex;
  align-items: start;
}

.team-section-show .card .team-info .team-image {
  flex: 1;
  margin-right: 20px;
}

.team-section-show .card .team-info .team-body {
  flex: 2;
}

.team-section-show .card .team-info .team-body .team-title {
  font-size: 2em;
  color: var(--color-primary);
  margin-bottom: 10px;
}

.team-section-show .card .team-info .team-body .team-description {
  font-size: 1.2em;
  line-height: 1.5;
}

.team-section-show .card .team-info .team-image img {
  border-radius: 10px;
}

.team-section-show .card .team-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
}

.team-section-show .card .team-stats .stat-item {
  display: flex;
  align-items: center;
}

.team-section-show .card .team-stats .stat-item i {
  font-size: 2em;
  margin-right: 10px;
}

.team-section-show .card .team-stats .stat-item .stat-info .stat-title {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--color-primary);
}

.team-section-show .card .team-stats .stat-item .stat-info .stat-value {
  font-size: 1em;
}


.team-section-show .card table {
  width: 100%;
  border-collapse: collapse;
}

.team-section-show .card table th,
.team-section-show .card table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.team-section-show .card table th {
  background-color: var(--color-primary);
  color: white;
}

.team-section-show .card table td progress {
  width: 100%;
  height: 20px;
}
