<div>

    
    <div class="breadcrumbs">
        <nav>
        <div class="container">
            <ol class="breadcrumb-card">
            <li><a href="/">Inicio</a> / Registrarse</li>
            </ol>
        </div>
        </nav>
    </div>
    

    <div class="section-header">
      <h2>Registrarse</h2>
    </div>
    
    <div class="registration-form">
        
        <form method="post" action="/users">
          <h4 class="form-intro">INTRODUCE TUS DATOS PARA CREAR TU CUENTA</h4>
                <ul>
                  <li>
                    <label for="email" class="rem">Nombre de usuario <img src="/images/3D-icons/medalla-icono-2.PNG" alt="icon" /></label>
                    <input type="text" id="username" name="username" value="<%= user.username %>" autocomplete="off" required/>
                  </li>
                  <li>
                    <label for="username" class="rem">Correo electronico <img src="/images/3D-icons/correo-icon-1.PNG" alt="icon" /></label>
                    <input type="email" pattern=".+@.+" id="email" name="email" value="<%= user.email %>" autocomplete="off" required/>
                  </li>

                  <li>
                    <label for="user_password" class="rem">Contraseña <img src="/images/3D-icons/candado-icon-3.PNG" alt="icon" /></label>
                    <input type="password" id="user_password" name="password" autocomplete="off" required />
                  </li>
                    
                </ul>
                
                      
            <input type="submit" value="Registrarse" onclick="return forcePassword() && validPassword() " class="button-2">
        </form>
    </div>  
</div>
