<!DOCTYPE html>
<html>
<head>
    <title>Registrarse</title>
    <!-- Aquí puedes incluir tus estilos y scripts -->
</head>
<body>

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <nav>
        <div class="container">
            <ol class="breadcrumb-card">
            <li><a href="/">Menu</a> / Registrarse</li>
            </ol>
        </div>
        </nav>
    </div>
    <!-- End Breadcrumbs -->
    
    <section class="registration-form">
        <h2>Registrarse:</h2>
        <form method="post" action="/users">
                <ul>
                    <li>
                        <label for="username" class="rem">email:</label><br>
                        <input type="email" pattern=".+@.+" id="email" name="email" value="<%= user.email %>" autocomplete="off" required/>
                    </li>
                    <li>
                        <label for="email" class="rem">User name:</label><br>
                        <input type="text" id="username" name="username" value="<%= user.username %>" autocomplete="off" required/>
                    </li>
                </ul>
                <% if (!user.id) { %>
                    <p class="text-danger">Enter the new password twice</p>
                    <% } else { %>
                        <p class="text-danger">Leave blank to not change the current password</p>
                        <% } %>
                            <ul>
                                <li>
                                    <label for="user_password" class="rem">Password:</label><br>
                                    <input type="password" id="user_password" name="password" autocomplete="off" required/>
                                </li>
                                <li>
                                    <label for="user_confirm_password" class="rem">Confirm Password:</label><br>
                                    <input type="password" id="user_confirm_password" autocomplete="off" required/>
                                </li>
                            </ul>
            <input type="submit" value="Registrarse" onclick="return forcePassword() && validPassword() " class="button-2">
        </form>
    </section>
</body>
</html>