<div class="imageContainer">
    <% var attachment = team.attachment; %>
    <% if (attachment) { %>
        <% if ( attachment.mime === "image/jpeg" || attachment.mime === "image/gif" || attachment.mime === "image/jpg" || attachment.mime === "image/png" || attachment.mime === "image/gif" ) { %>
            <img class="img-fluid" src="/teams/<%= team.id %>/attachment" alt="Image"/>
        <% } 
        else if ( attachment.mime === "video/mp4" ) { %>
            <video class="attachment img-fluid" alt="Video" controls><source src="/teams/<%= team.id %>/attachment"></video>
        <% }
        else if ( attachment.mime === "application/pdf" ) { %>
            <img class="attachment img-fluid" src="/images/pdf.png" alt="Image"/>
        <% }
        else { 
            %>
            <img class="attachment img-fluid" src="/images/doc.png" alt="Image"/>
        <% } %>
    <% } 
    else { %>
        <img class="attachment img-fluid" src="/images/none.png" />
    <% } %>
</div>

